[[extend 'outc_layout.html']]


<div class="section">
  <div class="box">
    <h4 class="subtitle is-4 has-text-primary">Input form</h4>
    <flash-alerts class="padded" data-alert="[[=globals().get('flash','')]]"></flash-alerts>
    [[=form]]
  </div>
  <div class="box">
    [[if rows:]]
    <h4 class="subtitle is-4 has-text-primary">Input records</h4>
    <div class='buttons'>
      <a id='download_button'
	 class='button is-link' 
	 href='[[=URL('save_csv')]]'>
	Download
      </a>
      <!--
      <a id='upload_button'
	 class='button is-link'
	 >
	 Upload
      </a>
      -->
      <!--
	<a id='clear_rows'
	   class='button is-danger'
	   href='[[=URL('index','clear')]]'>
	  Clear all rows below!
	</a>
      -->
    </div>



    <div class="table-container">
      <table class='table is-size-7'>
	<tr>
	  <th></th>
	  <th></th>
	  <th>ContactName</th>
	  <th>Reference</th>
	  <!--
	    #<th>InvoiceNumber</th>
	    #<th>InvoiceDate</th>
	    #<th>DueDate</th>
	  -->
	  <th>Description</th>
	  <th>Quantity</th>
	  <th>UnitAmount</th>
	  <th>AccountCode</th>
	  <th>TaxType</th>
	  <!--
	    #<th>TrackingName1</th>
	  -->
	  <th>TrackingOption1</th>
	</tr>
	[[for row in rows:]]
	<tr>
	  <td>
	    [[ 
	    =A(XML('edit', I('&nbsp;', _class="fas fa-edit")), _href=URL('edit', str(row.id)), _class="grid-edit-button button is-small")
	    ]]
	  </td>
	  <td>
	    [[ 
	    =A(XML('delete', I('&nbsp;', _class="fas fa-trash")), _href=URL('delete', str(row.id)), _class="grid-delete-button button is-small") ]]
	  </td>
	  <td>
	    [[ =row.member.name ]]
	  </td>
	  <td>
	    [[ =row.member.sageid ]]
	  </td>
	  <!--
	    <td>
	    [[ #=row['InvoiceNumber'] ]]
	    </td>
	    <td>
	    [[ #=row['InvoiceDate'] ]]
	    </td>
	    <td>
	    [[ #=row['DueDate'] ]]
	    </td>
	  -->
	  <td>
	    [[ #= ", ".join([row.account.description, row.extra_description]) ]]
	  </td>
	  <td>
	    [[ =row.quantity ]]
	  </td>
	  <td>
	    [[ =row.price ]]
	  </td>
	  <td>
	    [[ =row.account.code ]]
	  </td>
	  <td>
	    [[ =row.account.tax_code ]]
	  </td>
	  <!--
	    <td>
	    [[ #=row['TrackingName1'] ]]
	    </td>
	  -->
	  <td>
	    [[ =row.member.club.name ]]
	  </td>
	  [[pass]]
	</tr>
      </table>
    </div>

    [[pass]]
  </div>
</div>
