<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="[[=URL('static/')]]">

    <title>OUTC batch input
    </title>

    <link rel="stylesheet" href="static/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/1dec05b94f.js" crossorigin="anonymous"></script>



    </head>

    <body>

      <h1 class="title is-3 box">OUTC Batch Input</h1>


      <main>

	<!-- content injected by extending page -->
	[[include]]

      </main>
      <!-- end of HTML inserted by extending template -->


    </body>
</html>
