<!DOCTYPE html>
<html>
  <head>
    <base href="[[=URL('static')]]/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />

    <title>OUTC batch input
    </title>

    <link rel="stylesheet" href="css/bulma.min.css">
    <script src="https://kit.fontawesome.com/1dec05b94f.js" crossorigin="anonymous"></script>



  </head>

  <body>

    <h1 class="title is-3 box">OUTC Batch Input</h1>


    <main class="padded">
      <flash-alerts class="padded" data-alert="[[=globals().get('flash','')]]"></flash-alerts>

      <!-- content injected by extending page -->
      [[include]]

    </main>
    <!-- end of HTML inserted by extending template -->


  </body>
  <!-- You've gotta have utils.js -->
  <script src="js/utils.js"></script>
  </html>
